extends layout

block content
  doctype html
  html
    head
      meta(charset='UTF-8')
      title title
      link(rel='stylesheet', href='styles.css', type='text/css')
    body
      center
        #list
          input.1
          button.list_button  +
          h2.list_title EXERCISE
          .todo_container
            input.2
            button.list_button1  +
            ol
              .todo_item_container
                li.todo_item
                  | 20 PUSH UPS
                  input#cbox1(type='checkbox', value='first_checkbox')
                  .when
                    input(type='date', step='7', min='2014-09-08')
                    |  -
                    input(type='time', min='9:00', max='17:00', step='900')
                  select
                    option(value='1') DO NOW
                    option(value='2') DO LATER
                    option(value='3') DO WHENEVER
                  br
                label
                  button.list_button1  -
              .todo_item_container
                li.todo_item
                  | 20 SQUATS
                  input#cbox1(type='checkbox', value='first_checkbox')
                  .when
                    input(type='date', step='7', min='2014-09-08')
                    |  -
                    input(type='time', min='9:00', max='17:00', step='900')
                  select
                    option(value='1') DO NOW
                    option(value='2') DO LATER
                    option(value='3') DO WHENEVER
                  br
                button.list_button1  -
              .todo_item_container
                li.todo_item
                  | 5 MIN CARDIO
                  input#cbox1(type='checkbox', value='first_checkbox')
                  .when
                    input(type='date', step='7', min='2014-09-08')
                    |  -
                    input(type='time', min='9:00', max='17:00', step='900')
                  select
                    option(value='1') DO NOW
                    option(value='2') DO LATER
                    option(value='3') DO WHENEVER
                  br
                button.list_button1  -
              .todo_item_container
                li.todo_item
                  | FULL BODY STRETCH
                  input#cbox1(type='checkbox', value='first_checkbox')
                  .when
                    input(type='date', step='7', min='2014-09-08')
                    |  -
                    input(type='time', min='9:00', max='17:00', step='900')
                  select
                    option(value='1') DO NOW
                    option(value='2') DO LATER
                    option(value='3') DO WHENEVER
                  br
                button.list_button1  -
          .bottom_delete
            button.list_button  -
