extends layout

block content
  doctype html
  html
    head
      meta(charset='UTF-8')
      title title
      link(rel='stylesheet', href='styles.css', type='text/css')
      block scripts
        script(src='/jquery.js')
    body
      center
        h1.title WHAT ARE YOU GONNA DO TODAY?
        form(action="/todos", method="post")
          #list
            input.1(type='text', name='title', placeholder='What to do?')
            input.1(type='text', name='description', placeholder='describe your todo.')

            button.list_button
              strong +

        ol
        each todo in todos
          li.todo_title=todo.title

          .bottom_delete
            a(style="text-decoration: none;", type="button", href="/delete/todos/" + todo.id).todo_button
              strong DONE
